@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700&display=swap');

:root {
    --main-color: #6f7d95;
    --blue-color: #3b73a1;
    --light-blue-color: #5e8fb4;
    --red-color: #ba4369;
    --black-color: #222222;
    --white-color: #FFFFFF;
    --gray-color: #999999;
    --light-gray-color: #d2d2d2;
    --super-light-gray-color: #eff2f6;
}

* {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100vh;
    font-size: 15px;
    color: var(---black-color);
    font-family: 'Manrope', sans-serif;
    letter-spacing: 1px;
    line-height: normal;
    background-color: var(--super-light-gray-color);
    margin: 0;
}

.container {
    max-width: 1920px;
    width: calc(100% - 140px);
    height: 100%;
    margin: 0 auto;
}

@media(max-width:767.98px) {
    .container {
        width: calc(100% - 60px);
    }
}

@media(max-width:575.98px) {
    .container {
        width: calc(100% - 80px);
    }
}

a,
a:active,
a:focus,
a:hover {
    color: var(---black-color);
    text-decoration: none;
}

header {
    width: 100%;
    height: 100px;
    background-color: var(--white-color);
    animation: shadowFX 4s ease forwards infinite;
}

@keyframes shadowFX {
    0% {
        -webkit-box-shadow: 0 2px 15px var(--gray-color);
        -moz-box-shadow: 0 2px 15px var(--gray-color);
        box-shadow: 0 2px 15px var(--gray-color);
    }

    50% {
        -webkit-box-shadow: 0 2px 15px var(--light-gray-color);
        -moz-box-shadow: 0 2px 15px var(--light-gray-color);
        box-shadow: 0 2px 15px var(--light-gray-color);
    }

    100% {
        -webkit-box-shadow: 0 2px 15px var(--gray-color);
        -moz-box-shadow: 0 2px 15px var(--gray-color);
        box-shadow: 0 2px 15px var(--gray-color);
    }
}

.header {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.header img {
    height: 26px;
}
@media(max-width:575.98px){
    .header .logo img{
        height: 20px;
    }
}
.header .logo,
.header .member {
    display: flex;
    align-items: center;
}

.header .member {
    margin-left: auto;
    cursor: pointer;
}

.header .logo span {
    font-size: 0.85rem;
    font-weight: 600;
    color: var(--gray-color);
    padding-left: 1.5rem;
    padding-top: 3px;
}
@media(max-width:575.98px) {
    .header .logo span {
        padding-left: .8rem;
    }
}
.header .member span {
    font-size: 0.95rem;
    font-weight: 500;
    color: var(--gray-color);
    padding-left: .5rem;
}

@media(max-width:767.98px) {

    .header .member span {
        display: none;
    }
}

main {
    min-height: 100%; /*外層高度100%*/
    margin-top: 60px;
    margin-bottom:-60px;
}
main .container{
    padding-bottom:120px;
}
main .NFT-title {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--main-color);
    letter-spacing: 2px;
    padding: 10px 0;
    margin-bottom: 40px;
    border-top: 1px solid var(--light-gray-color);
    border-bottom: 1px solid var(--light-gray-color);
}
@media(max-width:767.98px){
    main .NFT-title {
        font-size: 1.4rem;
    }
}
.NFT-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 15px;
    transition: .5s ease;
}

@media(max-width:1199.98px) {
    .NFT-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media(max-width:991.98px) {
    .NFT-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media(max-width:767.98px) {
    .NFT-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media(max-width:575.98px) {
    .NFT-grid {
        grid-template-columns: 1fr;
        gap: 25px;
    }
}

.NFT-item {
    width: 100%;
    background-color: var(--white-color);
    padding: 15px;
    margin-bottom:20px;
    border-radius: 12px;
    overflow: hidden;
    -webkit-box-shadow: 0 1px 15px var(--light-gray-color);
    -moz-box-shadow: 0 1px 15px var(--light-gray-color);
    box-shadow: 0 1px 15px var(--light-gray-color);
}

.item-body .item-img-mask {
    aspect-ratio: 1/1;
    border-radius: 12px;
    position: relative;
    overflow: hidden;
}

.item-body .item-img-mask img {
    width: 150%;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.item-body .item-text {
    height:92px;
    display:flex;
    flex-direction: column;
}
.item-body .item-text .author {
    font-size: 0.7rem;
    color: var(--main-color);
    margin-top: 10px
}

.item-body .item-text .name {
    font-size: 1rem;
    font-weight: 600;
    margin-top: 3px;
    margin-bottom: 12px;
}

.item-body .item-text .name {
    white-space: nowrap;
    overflow: hidden;
    width: calc(100% - 20px);
    text-overflow: ellipsis;
}

.item-body .item-text .price {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 6px;
    margin-top:auto;
}

.item-body .item-text .price img {
    width: 18px;
    margin-bottom: 10px;
}

.item-body .item-text .price .ETH {
    font-size: 1rem;
    font-weight: 600;
    color: var(--main-color);
    padding-right: 26px;
    margin-bottom: 10px;
    position: relative;
}

.item-body .item-text .price .ETH::before {
    content: "ETH";
    font-size: 0.75rem;
    position: absolute;
    right: 0;
    bottom: 2px;
}

.item-footer {
    position: relative;
}

.item-footer::before {
    content: '';
    width: calc(100% + 30px);
    height: 2px;
    background-color: #f5f5f5;
    position: absolute;
    top: 0;
    left: -15px;
}

.item-footer .item-btn {
    font-size: 0.9rem;
    color: var(--white-color);
    width: 100%;
    height: 30px;
    margin-top: 12px;
    border: 0;
    border-radius: 30px;
    transition: .5s ease;
    cursor: pointer;
}
@media(max-width:767.98px){
    .item-footer .item-btn {
        font-size: 0.95rem;
        height: 40px;
    }
}
.item-footer .item-btn:hover,.NFT-item:hover .item-btn {
    filter: brightness(1.4);
}

.item-footer .item-btn:disabled:hover,.NFT-item:hover .item-btn:disabled{
    filter: brightness(1);
    cursor:default;
}
footer{
    color:var(--white-color);
    text-align: center;
    line-height: 60px;
    width:100%;
    height:60px;
    background: linear-gradient(to right, #3b73a1,#5e8fb4);
}